#canvas {
    margin-left: 1vw;
    margin-top: 1vh;
    border: 2px solid black;
}

#toolbox {
    padding-left: 23.75vw;
}

#toolbox div {
    display: inline;
    margin-right: 0.5vw;
}

button {
    background: linear-gradient(whitesmoke, lightgray)
}

button.chosen {
    background: linear-gradient(lightgray, whitesmoke);
}

button:active {
    background: linear-gradient(lightgray, whitesmoke);
}

#toolbox div button {
    height: 5vh;
}

#toolbox div button.smol {
    width: 5vw;
}

#toolbox div button.norm {
    width: 10vw;
}

#canvas polyline {
    stroke-linejoin: round
}

html {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    overflow: hidden;
}

.picker {
    position: fixed;
    top:0px;
    left: 0px;
    border: 2px solid black;
    width: 53.5vw;
    height: 5vh;
    display: none;
}

.picker .palleteColor {
    border: 2px solid black;
    float: left;
    height: 100%;
}

#sizePicker .palleteColor {
    width: 20%;
}

#colorPicker .palleteColor {
    width: 8.333%;
}

#otherPicker {
    height: 10vh;
}

#otherPicker .palleteColor {
    width: 20%;
    height: 5vh;
}

@media (pointer:none), (pointer:coarse) {
    #toolbox {
        padding-left: 11.25vw;
    }

    #toolbox div button.norm {
        width: 15vw;
    }

    #toolbox div button.smol {
        width: 7.5vw;
    }

    #colorPicker {
        width: 79vw;
    }
}